*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-size: cover;
    background-position: top;
    font-family: Times new Roman;
    height: 3cm;
}

.container
{ 
    text-align: center;
    font-size: x-large;
    background-color: top ;
}
.container ul
{
    display: inline-flex;
    text-align: center;
}
.container ul li
{
    width: 200px;
    height: 100px;
    padding: 1cm;
}
.main
{
    display: flex;
    height: 17cm;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgreen;
}



.aside
{
    display: flex;
    height: 17cm;
    background-color: lightgreen;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;

}



img
{
    width: 250px;
}
